* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: aquamarine;
  padding: 1rem;
}

main {
  padding: 1rem;
}

.title {
  font-weight: bolder;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem
}

.completed_task,
.current_task {
  margin-top: 1rem;
}

.task_count {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.hr {
  margin-top: 2rem;
}

.flex {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.state {
  background-color: rgb(255, 119, 0);
  color: white;
  padding: 0.3rem;
  font-weight: bolder;
}